@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: ;
}
.navber{
 display: flex;
 justify-content: space-around;
 width: 1280px;
 padding: 24px 128px;
 align-items: center;
 gap: 900px;
}
.ban{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 23px;
font-weight: 700;
}
.sign-in-btn{
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;

    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
 
}
.sign-in-btn:hover{
    background-color: rgb(2, 74, 56);
    color: white;
}
.container{
    
    width: 871px;
    height: 20px;
    margin: 0px 134px;
    border-radius: 20px;
    background: rgb(198, 228, 214);
    padding: 201px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.heading{
    height: 200px;
    width: 300px;
    margin-left: -300px;
    text-align: center;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 18px;
    text-align: justify;


}
.imgOfSritisoudho{
    margin-right: -350px;
}
.btn2{
    padding: 17px 34px 17px 34px;
    margin-top: 15px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    font-family: fira sans;
}

.banglades2{
        color: rgba(14, 14, 14, 0.5);
        font-family: Fira Sans;
        font-size: 24px;
        font-weight: 100;
        opacity: 0.0;
 }